.contact-container {
  padding-top: 8vh;
  height: 100vh;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../assets/background1.svg");
  background-size: cover;
  background-position: center;
}

.social-media-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 1rem;
  justify-items: center;
  width: 90%;
  max-width: 50rem;
}

.social-media-button {
  border-color: red !important;
  border-width: thin !important;
  background-color: orange !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: white !important;
  font-weight: 800 !important;
  display: flex !important;
  max-width: 20rem;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.social-media-button-gray {
  border-color: red !important;
  border-width: thin !important;
  background-color: #c1bebe !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  color: white !important;
  font-weight: 800 !important;
  display: flex !important;
  max-width: 20rem;
  width: 100%;
}

.social-media-button-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.social-media-button-title {
  font-size: 1rem;
}

.social-media-button-subtitle {
  font-size: x-small;
}

.contact-icon {
  width: 2rem;
  height: auto;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.contact-form {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  max-width: 50rem;
  background-color: orange;
  border-radius: 2%;
  padding: 1rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.btn-send {
  justify-content: center;
  margin-top: 1rem;
  align-self: flex-end;
}

.contact-title {
  margin: 1rem;
  color: white;
  font-weight: 600;
}

.contact-form-title {
  align-self: center;
  color: white;
}

@media (min-width: 998px) {
  .contact-container {
    padding-top: 12.5vh;
  }

  .contact-title {
  }

  .contact-form {
    height: 90%;
  }

  .social-media-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 60%;
    background-color: #BC3436 !important;
    border-color: #BC3436 !important;
  }

  .contact-icon {
    width: 15%;
    height: auto;
  }

  .social-media-button-gray {
    width: 95%;
    height: 60%;
    background-color: gray !important;
    border-color: gray !important;
  }

  .social-media-button:hover {
    transform: scale(1.05);
  }

  .social-media-button-gray:hover {
    transform: scale(1.05);
  }

  .btn-send:hover {
    transform: scale(1.05);
  }

  .contact-sub-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: fit-content;
    background-color: rgb(245, 186, 76);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 2%;
    margin-bottom: 2rem;
    max-height: 82%;
  }

  .social-media-container {
    display: grid;
    align-items: center;
    padding: 1rem;
    height: 55%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1px;
    margin-top: 0;
  }

  .contact-form {
    background-color: transparent;
    box-shadow: none;
    width: 50%;
  }

  .social-media-container-title {
    color: white;
    padding-top: 2rem;
  }

  .social-media-button-container {
    width: 40%;
  }

  .social-media-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
  }
}
