.navbar {
  position: fixed !important; /* Fija la posición del Navbar */
  width: 100%; /* Asegúrate de que ocupe todo el ancho */
  background-color: white; /* Asegúrate de que tenga un fondo para que el contenido no se vea detrás */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
  box-shadow: 0 4px 2px -2px gray; /* Opcional: añade una sombra para que se destaque */
  transition: background-color 0.5s ease;
}

/* Asegúrate de que el contenido no quede oculto detrás del Navbar */
body {
  margin-top: 50px; /* Ajusta este valor según la altura de tu Navbar */
}

/* Ajusta los anclajes de los enlaces del Navbar */
:target::before {
  content: "";
  display: block;
  height: 0px; /* Ajusta este valor según la altura de tu Navbar */
  margin-top: -0px; /* Debe ser el mismo valor que el anterior */
}

.navbar-colored{
  background-color: blue; /* Cambia esto al color que prefieras */
}

.navbar-transparent{
  background-color: transparent !important;
  box-shadow: none;
  background-color: transparent !important;
  backdrop-filter: blur(5px);
}

.navbar-brand{
  color: white !important;
  font-size: 1.6rem !important;
  font-weight: 800;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.navbar-toggler{
  border-color: white !important;
}

.nav-item a {
  color: white !important;
  font-weight: 600 !important;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); /* Sombra negra */
  padding: 1rem;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.switch-container{
  display: flex;
}

@media (min-width: 998px) {
  .navbar {
    background-color: rgb(4, 4, 143);
  }

  .navbar-colored{
    background-color: blue; /* Cambia esto al color que prefieras */
  }
  
  .navbar-transparent{
    background-color: transparent !important;
    box-shadow: none;
    background-color: transparent !important;
    backdrop-filter: blur(5px);
    height: 4.75rem;
  }
  
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(245, 222, 179, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
  }
  
  .switch-container{
    background-color: transparent !important;
    backdrop-filter: blur(10px);
    padding: 1rem;
  }
  
}
